body{
    background-color:lightgoldenrodyellow;
    }

.ayusha-centerheader{
  text-align: center;
  background-color:papayawhip;
}
.profile {
    border-radius:50%;
}
#about{
  background-color:gainsboro;
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:cyan;
  /*height: 100px;*/
}

.item2 {
  background-color:khaki;
  /*height: 100px;*/
}

.item3 {
  background-color:lemonchiffon;
  /*height: 100px;*/
}


    

